[submodule ".vim/pathogen/vim-airline"]
	path = .vim/pathogen/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pathogen/vim-airline-themes"]
	path = .vim/pathogen/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pathogen/nerdtree"]
	path = .vim/pathogen/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pathogen/syntastic"]
	path = .vim/pathogen/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim/pathogen/vim-bufferline"]
	path = .vim/pathogen/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule ".vim/pathogen/vim-colors-solarized"]
	path = .vim/pathogen/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pathogen/vim-solarized8"]
	path = .vim/pathogen/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
